* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
  width: 100vw;
  background-color: #111724;
}

.grid-item {
  background-color: #111724;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.part {
  position: relative;
  height: 19rem;
  width: 100%;
}
#particles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../deep.svg");
  height: 100%;
  width: 100%;
  background-size: 200% 200%;
  background-position: center;
  border-radius: 50%;
}
