.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container to cover the entire viewport height */
  margin: 0;
  background-color: blue;
}

.particles-container {
  position: relative; /* Ensure the child particles stay within this container */
  width: 40%; /* Cover the entire width of the viewport */
  height: 20rem; /* Cover the entire height of the viewport */
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
